# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @smelc @palas @olgahryniuk

# General reviewers for PRs
#                                                             Jordan     John      Mateusz     Clément Pablo  Kevin         Sam
*                                                             @Jimbo4350 @newhoggy @carbolymer @smelc  @palas @kevinhammond @disassembler
